
<div class="container">
    <h1>register-form component!</h1>

    <form action="">
        <div>
            <label for="username">Email / Username</label>
            <input type="text" id="username" placeholder="Email / Username">
        </div>
        <div>
            <label for="password">Password</label>
            <input type="text" id="password" placeholder="Password">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" placeholder="Name">
        </div>
        <div>
            <label for="dob">Date of birth</label>
            <input type="calendar" id="dob" placeholder="Date of birth">
        </div>
        <div>
            <button>{{ buttonlabel }}</button>
        </div>
    </form>
</div>