/* You can add global styles to this file, and also import other style files */

.container {
    margin: 30px auto;
    width: 80%;
    max-width: 550px;
    padding: 20px;
}

input, label {
    display: block;
}

form div {
    margin-bottom: 15px;

    &:last-child {
        text-align: center;
    }
}

input {
    border: 1px solid #CCC;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

button {
    border: none;
    border-radius: 8px;
    background: #0366d6;
    color: #FFF;
    font-size: 16px;
    padding: 10px 30px;
}